/* Add here all your css styles (customizations) */

[uib-typeahead-popup].dropdown-menu {
	width: calc(100% - 30px);
	max-height: 272px;
	overflow: auto;
}

div.flash {
	position: fixed;
	top: 10px;
	width: 100%;
	z-index: 10000;
}

flash-message {
	width:500px;
	background-color: white;
	opacity: 0.9;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.alert {
	margin-bottom: 10px;
}

flash-message > div.ng-animate {
	position: relative;
	transition: 0.22s cubic-bezier(0.250, 0.460, 0.450, 0.940) all;
}
flash-message > div.ng-enter {
	top: -50px;
	opacity: 0;
}
flash-message > div.ng-enter.ng-enter-active {
	top: 0;
	opacity: 1;
}
flash-message > div.ng-leave {
	opacity: 1;
}
flash-message > div.ng-leave.ng-leave-active {
	opacity: 0;
}
