<table id="table_sla_missed_tickets" class="table table-striped">
	<thead>
		<tr>
			<th>#</th>
			<th style="min-width:100px">INC Number</th>
			<th style="min-width:150px">Company</th>
			<th style="min-width:200px">Short Description</th>
			<th style="min-width:150px">Assigned To</th>
			<th style="min-width:250px">Type of SLA that was missed</th>
			<th style="min-width:150px">Updated</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="ticket in sla_missed_tickets">
			<td>{{$index + 1}}</td>
			<td class="ng-ellipsable">{{ticket.task}}</td>
			<td class="ng-ellipsable">{{ticket.incident.company}}</td>
			<td class="ng-ellipsable">{{ticket.incident.short_description}}</td>
			<td class="ng-ellipsable">{{ticket.incident.assigned_to}}</td>
			<td class="ng-ellipsable">{{ticket.sla}}</td>
			<td class="ng-ellipsable">{{ticket.sys_updated_on}}</td>
		</tr>
	</tbody>
</table>
