<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Tab Frame Demo - Walle Web Test</title>
	<!-- Include all the headers from index.html -->
	<head th:replace="index :: head"></head>
	<!-- Add more css and js here -->
	<script src="views/walleDemo/tableDemo.js"></script>
</head>
<body ng-app="ngApp" ng-controller="ngCtrl">

	<!-- Header -->
	<div th:replace="index :: .header"></div>
	
	<!-- Page content -->
	<div class="container content-xs">

		
	
	</div><!--/container-->
	
	<!-- Footer -->
	<div th:replace="index :: .footer-v1"></div>
	
</body>
</html>