<p>This is the partial for view 1.</p>

		<div class="row">
			<div class="col-md-4">
				<form>
					<div class="form-group">
						<label for="yesno">Yes/No</label>
						<select id="yesno" class="form-control" walle-select-code="YESNO"></select>
					</div>
					<div class="form-group">
						<label for="yesno2">Yes/No with default value</label>
						<select id="yesno2" class="form-control" walle-select-code="YESNO" value="0"></select>
					</div>
					<div class="form-group">
						<label for="yesno">AM/PM</label>
						<select id="yesno" class="form-control" walle-select-code="AMPM"></select>
					</div>
					<div class="form-group">
						<label for="yesno">AM/PM</label>
						<select id="yesno" class="form-control" walle-select-code="AMPM"></select>
					</div>
					<div class="form-group">
						<label for="yesno">AM/PM</label>
						<select id="yesno" class="form-control" walle-select-code="AMPM"></select>
					</div>
					<div class="form-group">
						<label for="yesno">AM/PM</label>
						<select id="yesno" class="form-control" walle-select-code="AMPM"></select>
					</div>
				</form>
			</div>
		</div>