<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    
	<title>Tab Frame Demo - Walle Web Test</title>
    <base href="/"/>
	
	<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css"/>
	
	<script src="/bower_components/jquery/dist/jquery.js"></script>
	<script src="/bower_components/angular/angular.js"></script>
	<script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
	<script src="/bower_components/angular-route/angular-route.js"></script>
	<script src="/commons/angular-walle.js"></script>
	
	<script src="/app.js"></script>
	<script src="/views/view1/view1.js"></script>
	<script src="/views/view2/view2.js"></script>
	<script src="/views/demo/demo.js"></script>
	<script src="/views/walleDemo/tableDemo.js"></script>
	<script src="/views/walleDemo/selectCodeDemo.js"></script>

	<script src="/views/tabframe/tabframe.js"></script>
</head>
<body ng-app="ngApp" ng-controller="ngCtrl">

	<div class="container">
		<p>
			Menu: 
			<button ng-click="addTab('Query', '/views/walleDemo/tableDemo.html')">Walle Query</button>
			<button ng-click="addTab('SelectCode', '/views/walleDemo/selectCodeDemo.html')">Walle SelectCode</button>
		</p>
		
		<uib-tabset>
			<uib-tab index="0" heading="Main">
				<div>Main page</div>
			</uib-tab>
			<uib-tab ng-repeat="(index, tab) in tabs" index="tab.index" active="tab.active">
				<uib-tab-heading>
					{{tab.heading}}
					<button class="btn btn-link btn-xs" ng-click="closeTab(tab.index)">
						<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
					</button>
				</uib-tab-heading>
				<div ng-include="tab.url"></div>
			</uib-tab>
		</uib-tabset>
	
	</div><!--/container-->
	
</body>
</html>
