<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" ng-app="ngApp">
<head>
	<title>Thymeleaf Demo - Walle Web Test</title>
	<!-- Include all the headers from index.html -->
	<head th:replace="index :: head"></head>
	<!-- Add more css and js here -->
	
</head>

<body ng-controller="indexCtrl">

	<div ui-view="header"></div>
    
    <div class="container">
		<div ui-view="content"></div>
		
		<table id="table_sla_missed_tickets" class="table table-striped">
			<thead>
				<tr>
					<th>#</th>
					<th style="min-width:100px">INC Number</th>
					<th style="min-width:150px">Company</th>
					<th style="min-width:200px">Short Description</th>
					<th style="min-width:150px">Assigned To</th>
					<th style="min-width:250px">Type of SLA that was missed</th>
					<th style="min-width:150px">Updated</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="ticket : ${taskSLAs.records}">
					<td th:text="${ticketStat.index + 1}"></td>
					<td th:text="${ticket.task}"></td>
					<td th:text="${ticket.incident.company}"></td>
					<td th:text="${ticket.incident.short_description}"></td>
					<td th:text="${ticket.incident.assigned_to}"></td>
					<td th:text="${ticket.sla}"></td>
					<td th:text="${ticket.sys_updated_on}"></td>
				</tr>
			</tbody>
		</table>
	
		<p>Total: <span th:text="${total}"></span></p>
	
    </div>
	
	<div ui-view="footer"></div>
	
</body>
</html>