[treecontrol].tree-boot {
	color: #428bca;
	font-family: inherit;
	font-size: inherit;
}

[treecontrol].tree-boot > ul > li {
	padding: 0;
}

[treecontrol].tree-boot li > .tree-label {
	display: block;
	padding: 3px 0;
	border-radius: 4px;
}

[treecontrol].tree-boot li > i.tree-branch-head,
[treecontrol].tree-boot li > i.tree-leaf-head {
	float: left;
	margin: 6px;
	background-image: none !important;
	font: normal normal normal 14px/1 FontAwesome;
}

[treecontrol].tree-boot li.tree-expanded > i.tree-branch-head:before {
	content: "\f068";
}

[treecontrol].tree-boot li.tree-collapsed > i.tree-branch-head:before {
	content: "\f067";
}

[treecontrol].tree-boot li.tree-leaf > i.tree-leaf-head:before {
	content: "\f15b";
}

[treecontrol].tree-boot li.tree-node-selected > i,
[treecontrol].tree-boot li.tree-node-selected > .tree-label {
	color: #fff;
	background-color: #428bca !important;
}

[treecontrol].tree-boot li > .tree-label:hover {
	background-color: #eee;
}
