
<div class="container">
	<p>
		Menu: 
		<button ng-click="addTab('Query', '/app/walleDemo/tableDemo.html', 'tableDemoCtrl')">Walle Query</button>
		<button ng-click="addTab('SelectCode', '/app/walleDemo/selectCodeDemo.html', 'selectCodeDemoCtrl')">Walle SelectCode</button>
	</p>
	
	<uib-tabset active="activeSeq">
		<uib-tab index="0" heading="Main">
			<div>Main page</div>
		</uib-tab>
		<uib-tab ng-repeat="(index, tab) in tabs" index="tab.index" active="tab.active">
			<uib-tab-heading>
				{{tab.heading}}
				<button class="btn btn-link btn-xs" ng-click="closeTab(tab.index)">
					<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
				</button>
			</uib-tab-heading>
			<div ng-include="tab.url" ng-dynamic-controller="tab.controller"></div>
		</uib-tab>
	</uib-tabset>

</div><!--/container-->
