<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>SelectCode Demo - Walle Web Test</title>
	<!-- Include all the headers from index.html -->
	<head th:replace="index :: head"></head>
	<!-- Add more css and js here -->
	<script src="views/walleDemo/selectCodeDemo.js"></script>
</head>
<body ng-app="selectCodeDemoApp" ng-controller="selectCodeDemoCtrl">

	<!-- Header -->
	<div th:replace="index :: .header"></div>
	
	<!-- Page content -->
    <div class="container content-sm">

		<div class="row">
			<div class="col-md-4">
				<form>
					<div class="form-group">
						<label for="yesno1">Yes/No: {{yesno1}}</label>
						<select id="yesno1" ng-model="yesno1" class="form-control" walle-select-code="YESNO"></select>
					</div>
					<div class="form-group">
						<label for="yesno2">Yes/No with default value: {{yesno2}}</label>
						<select id="yesno2" ng-model="yesno2" class="form-control" walle-select-code="YESNO" value="0"></select>
					</div>
					<div class="form-group">
						<label for="ampm1">AM/PM: {{ampm1}}</label>
						<select id="ampm1" ng-model="ampm1" class="form-control" walle-select-code="AMPM"></select>
					</div>
					<div class="form-group">
						<label for="ampm2">AM/PM required: {{ampm2}}</label>
						<select id="ampm2" ng-model="ampm2" class="form-control" walle-select-code="AMPM" required="true"></select>
					</div>
				</form>
			</div>
			
			<div class="col-md-4">
				<form>
					<div class="form-group">
						<label for="user1">User: {{user1}}</label>
						<input id="user1" ng-model="user1" class="form-control" walle-typeahead-code="ALL_USERS" placeholder="Select user"/>
					</div>
					<div class="form-group">
						<label for="user2">User: {{user2}}</label>
						<input id="user2" ng-model="user2" class="form-control" walle-typeahead-code="ALL_USERS" placeholder="Select user"/>
					</div>
					<div class="form-group">
						<label for="yesno11">User: {{yesno11}}</label>
						<input id="yesno11" ng-model="yesno11" class="form-control" walle-typeahead-code="YESNO" placeholder="Yes/No"/>
					</div>
				</form>
			</div>
		</div>
		
    </div><!--/container-->
	
	
	<!-- Footer -->
	<div th:replace="index :: .footer-v1"></div>
	
</body>
</html>