
<div class="row">

	<div class="col-md-4">
		<h3>组织机构管理</h3>
		<div class="well well-sm" ng-init="orderby='orgCode'" >
			<treecontrol class="tree-classic" tree-model="nodes"
					order-by="orderby" reverse-order="false"
					on-selection="orgSelection(node)">
				{{node.orgCode}} - {{node.name}}
			</treecontrol>
		</div>
	</div>
	
	<div class="col-md-8">
		<h3/>
		<form name="orgForm" ng-validate>
			<div class="form-group">
				<button type="button" class="btn btn-primary" ng-click="add()">新增</button>
				<button type="button" class="btn btn-danger" ng-click="remove()">删除</button>
				<button type="submit" class="btn btn-success" ng-click="orgForm.$valid && save()">保存</button>
				<button type="button" class="btn btn-default" ng-click="cancel()">取消</button>
			</div>
			<div class="form-group">
				<label class="control-label">组织代码</label>
				<input class="form-control" name="orgCode" ng-model="org.orgCode" ng-required="true">
			</div>
			<div class="form-group">
				<label class="control-label">组织名称</label>
				<input class="form-control" name="name" ng-model="org.name" ng-required="true">
			</div>
			<div class="form-group">
				<label class="control-label">组织类型</label>
				<input class="form-control" name="organizeTypeId" ng-model="org.organizeTypeId">
			</div>
			<div class="form-group">
				<label class="control-label">上级组织</label>
				<input class="form-control" name="parentOrganizeId" ng-model="org.parentOrganizeId">
			</div>
			<div class="form-group">
				<label class="control-label">负责人</label>
				<input class="form-control" name="manage" ng-model="org.manage">
			</div>
			<div class="form-group">
				<label class="control-label">联系人名称</label>
				<input class="form-control" name="contact" ng-model="org.contact">
			</div>
			<div class="form-group">
				<label class="control-label">联系人电话</label>
				<input class="form-control" name="contactTel" ng-model="org.contactTel">
			</div>
			<div class="form-group">
				<label class="control-label">传真</label>
				<input class="form-control" name="fax" ng-model="org.fax">
			</div>
		</form>

	</div>
</div>
