
<div class="row">

	<div class="col-md-4">
		<h3>组织机构管理</h3>
		<div class="text-right">
			<button type="button" class="btn btn-primary" ng-click="add()">新增</button>
			<button type="button" class="btn btn-danger" ng-click="delete()">删除</button>
		</div>
		<abn-tree style="background:whitesmoke"
				raw-data="orgs" id-field="organizeId" parent-id-field="parentOrganizeId" label-field="name"
				tree-control="orgTreeControl" on-select="orgTreeSelect(branch)"></abn-tree>
	</div>
	
	<div class="col-md-8" ui-view="detail"></div>
</div>
