
<div class="row">

	<div class="col-md-4">
		<div class="well well-sm">
			<div walle-tree ng-model="orgs" order-by="orgCode"
					key-field="organizeId" parent-field="parentOrganizeId">
				{{node.orgCode}} - {{node.organizeId}}
			</div>
		</div>
	</div>
	
	<div class="col-md-8">
		<form name="orgForm" walle-form ng-readonly="state=='view'">
			<div class="form-group">
				<button type="button" class="btn btn-primary" ng-show="state=='view'" ng-click="add()">Add</button>
				<button type="button" class="btn btn-info" ng-show="state=='view' && org" ng-click="edit()">Edit</button>
				<button type="button" class="btn btn-danger" ng-show="state=='view' && org" ng-click="remove()" confirm="Delete?">Delete</button>
				<button type="submit" class="btn btn-success" ng-show="state=='new' || state=='edit'" ng-click="orgForm.$valid && save()">Save</button>
				<button type="reset" class="btn btn-default" ng-show="state=='new' || state=='edit'" ng-click="cancel()">Cancel</button>
			</div>
			<div ng-show="org">
				<div class="form-group">
					<label class="control-label">orgCode</label>
					<input class="form-control" name="orgCode" ng-model="org.orgCode" ng-required="true">
				</div>
				<div class="form-group">
					<label class="control-label">name</label>
					<input class="form-control" name="name" ng-model="org.name" ng-required="true">
				</div>
			</div>
		</form>

	</div>
</div>
